//page-header

.page-header {
  background-color: $color_dark;
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;

}

.page-header__img {
  align-self: center;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.page-header__list {
  display: flex;
  flex-wrap: wrap;
}

.page-header__item {
  @include fonts_oswald;
  text-transform: uppercase;
  color: $color_white;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;

  &:last-child {
    margin-right: 70px;
  }
}

.page-header__list li:not(:last-child) .page-header__item {
  margin-right: 28px;
}

.page-header__item.page-header__item--current {
  border-bottom: 2px solid $color_red;
}

.page-header__link {
  @include fonts_oswald;
  text-transform: uppercase;
  color: $color_white;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  padding: 14px 20px;
  background-color: $color_red;
}

//main-section

.main-section {
  background-image: url(../img/main-section-bg.png);
  background-repeat: no-repeat;
}

.main-section__slider {
  padding-top: 282px;
  padding-bottom: 238px;
}

.main-section__title {
  @include fonts_oswald;
  font-weight: 500;
  font-size: 65px;
  line-height: 85px;
  text-transform: uppercase;
  color: $color_white;
  max-width: 750px;
  padding-bottom: 33px;
}

.main-section__subtitle {
  @include fonts_oswald;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: $color_grey;
  max-width: 278px;
  padding-bottom: 18px;
}

.main-section__link {
  @include fonts_oswald;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  text-transform: uppercase;
  color: $color_white;
  padding-left: 50px;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(../img/icon_phone.svg);
    left: 0;
  }
}

//about-us

.about-us .container {
  display: flex;
  justify-content: space-between;
  padding-top: 110px;
  padding-bottom: 40px;
}

.about-us__list {
  display: flex;
}

.about-us__wrapper {
  padding-left: 100px;
}

.about-us__title {
  @include fonts_oswald;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  text-transform: uppercase;
  color: $color_white;
  max-width: 570px;
  position: relative;

  &::before {
    content: "Barbercrop";
    position: absolute;
    top: 120px;
    left: -250px;
    @include fonts_oswald;
    font-weight: 600;
    font-size: 100px;
    line-height: 120px;
    text-transform: uppercase;
    color: $color_dark;
    z-index: -1;
  }
}

.about-us__subtitle {
  @include fonts_roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: $color_grey;
  max-width: 570px;
  padding-bottom: 30px;
}

.about-us__item-title {
  @include fonts_oswald;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  text-transform: uppercase;
  color: $color_white;
  padding-bottom: 10px;
}

.about-us__item-subtitle {
  @include fonts_roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: $color_grey;
  padding-bottom: 50px;
}

.about-us__link {
  @include fonts_oswald;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: $color_white;
  padding: 14px 20px;
  background-color: $color_red;
  border: 2px solid #eb1616;
  box-sizing: border-box;
}

//services

.services__title {
  @include fonts_oswald;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  text-transform: uppercase;
  color: $color_white;
  padding-bottom: 20px;
  padding-top: 110px;
  position: relative;

  &::after {
    content: "services";
    @include fonts_oswald;
    font-weight: 600;
    font-size: 100px;
    line-height: 120px;
    text-transform: uppercase;
    color: $color_dark;
    position: absolute;
    top: 40px;
    left: 200px;
    z-index: -1;
  }
}

.services__subtitle {
  @include fonts_roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: $color_grey;
  max-width: 570px;
  padding-bottom: 50px;
}

.services__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 45px;
  justify-content: space-between;
  padding-bottom: 110px;
}

.services__item {
  max-width: 370px;
  padding-left: 55px;

  &:nth-child(1) .services__item-title::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(../img/icon_haircut.svg);
    left: -55px;
  }
  &:nth-child(2) .services__item-title::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(../img/icon_moustache.svg);
    left: -55px;
  }
  &:nth-child(3) .services__item-title::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(../img/icon_shave.svg);
    left: -55px;
  }
  &:nth-child(4) .services__item-title::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(../img/icon_clipper_cut.svg);
    left: -55px;
  }
  &:nth-child(5) .services__item-title::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(../img/icon_breadtrim.svg);
    left: -55px;
  }
  &:nth-child(6) .services__item-title::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(../img/icon_facial_message.svg);
    left: -55px;
  }
}

.services__item-title {
  @include fonts_oswald;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  text-transform: uppercase;
  color: $color_white;
  padding-bottom: 10px;
  position: relative;
}

.services__item__subtitle {
  @include fonts_roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: $color_grey;
  max-width: 315px;
  padding-bottom: 10px;
}

.services__item__price {
  @include fonts_roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: $color_red;
  text-transform: uppercase;
}

//team-professionals

.team-professionals .container {
  display: flex;
  padding-bottom: 110px;
}

.team-professionals {
  background-image: url(../img/bg-prof.png);
  background-repeat: no-repeat;
}

.team-professionals__title {
  @include fonts_oswald;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  text-transform: uppercase;
  color: $color_white;
  max-width: 500px;
  padding-top: 110px;
  padding-bottom: 18px;
}

.team-professionals__subtitle {
  @include fonts_roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: $color_white;
  max-width: 570px;
  padding-bottom: 50px;
}

.team-professionals__wrapper {
  padding-left: 30px;
}

.team-professionals__wrapper-inner {
  display: flex;
  padding-top: 50px;
}

.team-professionals__list:first-child {
  padding-right: 15px;
}

.team-professionals__item {
  @include fonts_oswald;
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
  text-transform: uppercase;
  color: $color_white;

  &:not(:last-child) {
    padding-bottom: 10px;
  }
}

.team-professionals__link {
  @include fonts_oswald;
  text-transform: uppercase;
  color: $color_white;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  padding: 14px 20px;
  background-color: $color_red;
}

//blog

.blog__title {
  @include fonts_oswald;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  text-transform: uppercase;
  color: $color_white;
  padding-top: 110px;
  padding-bottom: 50px;
  position: relative;

  &::after {
    content: "recent posts";
    @include fonts_oswald;
    font-weight: 600;
    font-size: 100px;
    line-height: 120px;
    text-transform: uppercase;
    color: $color_dark;
    position: absolute;
    top: 140px;
    left: -300px;
    z-index: -1;
  }
}

.blog__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
  padding-bottom: 110px;
}

.blog__item-title {
  @include fonts_oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 34px;
  padding-bottom: 10px;
  color: $color_white;
}

.blog__item {
  max-width: 370px;
}

.blog__subtitile-data {
  @include fonts_roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: capitalize;
  color: $color_red;
}

// page-footer

.page-footer .container {
  display: flex;
  justify-content: space-between;
  padding-top: 110px;
  padding-bottom: 110px;
}

.page-header__img {
  align-self: start;
}

.page-footer__wrapper {
  max-width: 270px;
  display: flex;
  flex-direction: column;
}

.page-footer__list {
  display: flex;
  padding-bottom: 30px;
}

.page-footer__SUBSCRIBE {
  max-width: 470px;
}

.page-footer__link {
  @include fonts_oswald;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  text-transform: uppercase;
  color: $color_white;
  padding-left: 30px;
  padding-bottom: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(../img/icon_phone.svg);
    left: -10px;
  }
}

.page-footer__link-address {
  @include fonts_roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: $color_grey;
  padding-bottom: 10px;
}

.page-footer__link-email {
  @include fonts_roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-decoration-line: underline;
  color: $color_grey;
  padding-bottom: 30px;
}

.page-footer__list li:not(:last-child) {
  padding-right: 15px;
}

.page-footer__copyright {
  @include fonts_roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  text-transform: uppercase;
  color: $color_grey;
}

.page-footer__title {
  @include fonts_oswald;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  text-transform: uppercase;
  color: $color_white;
  padding-bottom: 25px;
}

.page-footer__SUBSCRIBE-subtitle {
  @include fonts_roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: $color_grey;
  padding-bottom: 35px;
}

.page-footer__input {
  width: 340px;
  padding: 9px 0 9px 18px;
  background-color: $color_basic_bg;
  border: 2px solid $color_text_dark;
  margin-right: -6px;
  @include fonts_roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  text-transform: uppercase;
  color: $color_white;

  &::placeholder {
    @include fonts_roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    color: $color_white;
    background-color: $color_basic_bg;
  }

  &:active {
    outline: none;
  }
}

.page-footer__button {
  @include fonts_oswald;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: $color_white;
  width: 103px;
  height: 49px;
  background-color: $color_red;
  border: none;
  padding: 0;
  margin-top: 1px;
}

